
@media screen and (max-width: 600px) {  
  .burgerMenuIcon {
    position: relative;
    float: left;
    height: 100%;
    background: rgba(61, 62, 64, 0.5);
    padding: 10px;
    margin: 6px 0;
    cursor: pointer;
  }
  .burgerLine {
    width: 35px;
    height: 5px;
    background: rgba(255, 255, 255, 0.8);;
    margin: 6px 0;
    transition: 0.4s;
  }

  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {
    opacity: 0;
  }
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

}



